#footer{
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background: #888;
}
#scanner{
  width: 400px;
  height: 600px;
  background-color: darkgrey;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.scannerlight{
  width: 35px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  top: 0px;
  transition-duration: .5s;
}
#standby{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  transition: 1s;
}
#success{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  transition: 1s;
}
#failure{
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
  transition: 1s;
}
#scannertext{
  color: white;
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 75px;
  top: 15px;
}
@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
#scannerarea{
  width: 375px;
  height: 525px;
  background-color: grey;
  position: absolute;
  margin-top: 50px;
  border-radius: 10px;
}
#draggable{
  position: absolute;
  left: 15px;
  top: 100px;
  width: 200px;
  height: 315px;
  border-radius: 10px;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
  cursor: move;
  z-index: 10;
}
#draggablehelper{
  position: absolute;

  width: 200px;
  height: 315px;
  border-radius: 10px;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
  cursor: move;
  z-index: 10;
}
.dragsnap{
  position: absolute;
  width: 200px;
  height: 315px;
  left: 85px;
  top: 85px;
  background: grey;
}
